/* Utility Classes - Includes box-sizing: border-box and a clearfix. */

* {
    box-sizing: border-box;
}

.row {
    max-width: 900px;
    width: 100%;
    padding: .5em 0;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-size: 16px;
}
/* End Utility Classes */

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto 1em;
    box-shadow: 0 0 1em #666;
}

/* Header Styles */

.header {
    max-height: 75px;
    height: 100%;
    background: black;
    color: white;
    width: 100%;
}

.header h1 {
    float: left;
    width: 50%;
    padding-left: 1.25em;
}

.header nav ul {
    float: right;
    width: 50%;
    background: black;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: .35em;
    font-size: 1.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: .5em;

}

nav a:hover {
    border-bottom: 2px solid white;
}

/* Main Styles */
h2 {
    margin: 0;
    font-size: 2em;
}
.row:nth-child(1) p {
    font-size: 1.25em;
    width: 100%;
}
.row:nth-child(1) img {
    margin-top: 1.5em;
    max-width: 250px;
    width: 100%;
}
.two-col {
    float: left;
    width: 44%;
    padding: .5em;
    margin: 1.5em;
}

.two h2 {
    margin-top: 0;
}

.three-col {
    float: left;
    width: 33%;
    padding: 0.6250em;
    
}

.three-col img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.three-col p {
    text-align: center;
    margin: 1em auto;
    font-size: 1.5em;
}

table,
th,
td {
    background: black;
    color: white;
    border: 1px solid white;
    padding: .35em;
    border-collapse: collapse;
    margin: 0 auto;
}

.blog .two-col {
    margin: 1% 1.5625em;
    background: #ddd;
    border: 1px solid #999;
    border-radius: 4px;
}

/* Footer Styles */
.footer {
    background: black;
    color: white;
    padding: 1em;
}

iframe {
    float: left;
    width: 42%;
    margin-right: 3em;
    border-radius: 1em;
}

form {
    float: left;
    width: 50%;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    background: white;
    color: black;
    border-radius: 1em;
}

label,
input,
textarea {
    display: block;
    width: 44%;
}

input,
textarea {
    margin-bottom: 1em;
}

hr{
    display: none;
}
/* Responsive Styles */

@media(max-width: 850px){
    body{
        font-size: 14px;
    }
    nav ul li{
        padding: .2em;
    }

    .blog .two-col{
        margin: .5em;
    }

    .row.blog{
        padding-right: 2em;
        padding-left: 2em;
        margin-right: 1em;
        margin-left: 1em;
    }

}

@media(max-width: 715px){
    body{
        font-size: 12px;
    }
    .header h1{
        width: 40%;
    }
    .header nav ul{
        width: 60%;
    }

    .blog .two-col{
        width: fit-content;
    }

    .row.blog{
        padding: 0;
        margin: auto 0;
    }
}

@media(max-width: 615px){
    .two-col{
        width: fit-content;
        margin: .8em;
    }

    .two-col p{
        text-align: justify;
    }
    .row:nth-child(1) .two-col:nth-child(2){
        display: block;
        margin: 0 auto;
        width: 50%;
    }
/*  i cant figure out how to make this damn picture be in the middle */
    .two-col img{
        display: block;
        margin-top: 0;
        height: auto;
    }

    hr{
        display: block;
        width: 80%;
    }
}



/* End Responsive Styles */
